@import './themes';
@import './template1';
@import './template2';
@import './template3';
@import './template4';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	display: grid;
	place-content: center;
	height: 100vh;
	background-color: $themeColor-light;
}

img {
	max-width: 100%;
	display: block;
}

@keyframes thumb {
	to {
		transform: initial;
	}
}

@media (max-width: 768px) {
	main {
		padding: 1rem;
	}
}