// Colors
$themeColor-dark: #1d2c4d;
$themeColor-medium: #69788c;
$themeColor-light: #f2f2f2;
$themeColor-red: #ed2950;
$themeColor-red-light: #f7c5cf;

//Fonts
$font-title: 'Raleway', sans-serif;
$font-text: 'Noto Sans JP', sans-serif;

//shadows
$shadow-light: 0 2px 5px 0px rgba(0, 0, 0, 0.2),
               0 4px 10px 0px rgba(0, 0, 0, 0.1);

$shadow-dark: 0px 4px 4px rgba(0, 0, 0, 0.25);